
footer h3{
    margin-bottom: 0.0em;
    text-decoration: underline;
}
.footerbox {
    grid-area: footer;
    display: grid;
    grid-template-areas: 
    "logo"
    "info"
    "generel"
    "links"
    "os"
    "some";
    text-align: center;
    background-color: white;
    color: var(--blaa);
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .footerbox a {
    color: var(--blaa);
    text-decoration: none;
    font-style: italic;
  }
  
  #logoFooter{
    margin:0.5em;
    width: 90%;
  }
  
  .rights{
    color: white;
    background-color: var(--blaa)
  }





@media screen and (min-width: 1200px) {
    .footerbox {
        grid-area: footer;
        display: grid;
            grid-template-areas: 
                "logo logo logo logo logo"
                "info generel links os some"
                "rights rights rights rights rights";
    }    
}
