:root {
  /* farver */
  --blaa: #080332;
  --graa: #f2f2f2;
  --hvid: #ffffff;
  --sort: #000000;
  --groen: #128F01;
  --transparent: 0.70;
  --margin: 1em;
}
.wrapper{
    padding: 0;
    overflow-x: hidden;
    margin: 0; /* Således går alt content het ud som standart, margin indstilles individuelt. */
    display: grid;
    background-color: var(--graa);
    grid-template-areas:
      "logo"
      "nav"
      "shop"
      "footer"
  ; 
}

.shop {
  grid-area: shop;
  display: grid;
  grid-template-areas:
  "OS OS"
  "sort MTB";
  grid-template-columns: 30% 70%;
}

.articleOS{
  grid-area: OS;
  background-color: var(--blaa);
  color: white;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

.sorting{
  background-color: white;
  text-align: center;
  display: flex;
    align-content: flex-start;
    flex-direction: column;
  border: 1px solid black;
  grid-area: sort;
    position: sticky;
    top: 2.5em; 
  margin-left: 5%;
  padding-bottom: 1em;
  height: fit-content;
}
.sorting h3 {
  font-size: 1rem;
}

.sorting input{
  width: 90%;
}
.sorting select {
  margin-left: 5%;
  width: 90%;
}

.MTBs{
  grid-area: MTB;
  display: flex;
  flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cards{
  border: 1px solid black;
  max-width: 500px;
  padding: 1rem 0;
  color: var(--blaa);
  background-color: white;
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  z-index:2;
  margin: 0% 5% 5% 2.5%;
  width: 95%;

}



.cardpic{
  z-index: 1;
  width: 90%;
}

.bikeName{
  font-style: italic;
  margin: 0 5%;
  font-size: 1.4rem;
}
.price {
  margin: 2% 0;
  text-decoration: underline;
  font-size: 2rem;
}

.teaser {
  margin:0 5% 5% 5%;
}

.detaljer{
  width: calc(60% - 0.5rem);
  border: none;
  background-color: var(--blaa);
  color: white;
  padding: 1rem 0.5rem;
  max-width: 1024px;
}
.detaljer:active{
  background-color:darkblue;
}

.CTA:active {
  background-color:darkblue;
  color: white;
}

.CTA {
  
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: 3px solid var(--blaa);
  border-radius: 10px;
  padding: 0.5em 1em;
  color: var(--blaa);
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  

}


@media screen and (min-width: 900px) {
  .sorting{
    top: 6em;
  
  }


}