:root {
    /* farver */
    --blaa: #080332;
    --graa: #f2f2f2;
    --hvid: #ffffff;
    --sort: #000000;
    --groen: #128F01;
    --transparent: 0.70;
    --margin: 1em;
  }
.wrapper{
    padding: 0;
    overflow-x: hidden;
    margin: 0; /* Således går alt content het ud som standart, margin indstilles individuelt. */
    display: grid;
    background-color: var(--graa);
    grid-template-areas:
      "logo"
      "nav"
      "1"
      "2"
      "footer";     
}
.artikel{
    background: var(--graa);
}

.mainOS{
    margin: 1em 0 0 0;
    text-align: center;
    color: var(--blaa);
}

.artikelOS {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background: var(--blaa);
    padding: 1%;
    margin: 0em 0 0 0;
}
.afsnitOS {
    font-size: 2rem;
    text-align: center;
    margin: 1em 0 0 0;

}

.artikler a{
    color: red;
    text-decoration: none;;
}

.artikelP{
    margin: 0 0.5em 0 0.5em;
    font-size: 1.2rem;
}

.artikler img{
    width: 100%;
    height: auto;
}
#skov{
    grid-area: 1;
}

#landeveje {
    margin-top: 2em;
    grid-area: 2;
}
