:root {
    /* farver */
    --blaa: #080332;
    --graa: #f2f2f2;
    --hvid: #ffffff;
    --sort: #000000;
    --groen: #128F01;
    --transparent: 0.70;
    --margin: 1em;

}
ul.menu{ 
    display: none}

.navbar {
  width: 100%;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    grid-area: nav;
    display: grid; /* der bruges nested-grid istedet for flexbox da afstanden er forskellig. */
      align-items: center;
      justify-items: center;
      grid-template-areas:
      "burger search ikon";
    grid-template-columns: 2em calc(100% - 2em - 5em) 5em;
    z-index: 10000; /* der vælges en Z-index således at navigatorbaren ALTID er oven andet content. samt uden at kunne give problemer når der bruges Z-index senere. */
}

.burger {
    margin: 0.2em;
    padding: 0.2em;
    grid-area: burger;
    font-size: 1.5em;
    color: var(--blaa);
    border: none;
    display: block;
    cursor: pointer;
    position: absolute;
 }

/* burger dropdown knap

burger ikonet */
  
  /* navbar -  boks */
  .navibar {
    display: none;
    flex-direction: column;
    margin: 34px 0 0 0;
    background-color: var(--blaa);
    height: auto;
    width: 96vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: absolute;
    top:0;
    left:0;
  }
  
  
  /* Usynlig knap */
  .knap2 {
      position: absolute;
      top: -9000px;
  }
  
  .knap2:checked ~ .navibar {
    display: block;
  
  }
  
  /* box - content */
  
  
  /* søge funktion */
  input[type=text] {
    margin: 0.4em 0.2em 0.2em 2.3em;
    width:4.5em;
    height: 1em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 1em;
    padding: 10px 5px 10px 25px;
      }
  
  
  /* dropdownmenubar */
  [class^="mere"] {
      display: none;
      background: #f1f2f2;
    }
  
  [class^="vismere"] {
    display:block;
    position: relative;
    
    }
  
  [class^="vis"] {
      position: absolute;
      top: -9000px;
  }
  
  [class^="vis"]:checked ~ [class^="mere"] {
    display: block;
  
  }
  
  
  /* dropdown layout */
  .navibar h3 {
    color: white;
    margin: 0.2em 0 0.2em 2em;
  }
  .navibar li {
    list-style-type: none;
    padding: 0.2em;
    
  }
  .navibar a {
    object-fit: contain;
    text-decoration: none;
    color: black;
  }
  
  .navibar a:hover{
    background: gray;
  }
  


 
 .search { 
   grid-area: search;
    margin-right: 4px;

  }

      input[type=text] {
        width:8em;
        height: 1.5em;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 1em;
        padding: 10px 10px 10px 30px;
        transition:1s;
        background: url("../img/ikoner/search.svg");
          background-size: contain;
          background-position: left;
          background-repeat: no-repeat;
  }


/* Usynlig knap for at toggle nav-bar ind og ud. den placeres langt ude af VH */
.knap2 { 
    position: absolute;
    top: -9000px;
}

/* Indkøbskurv ikon */
#kurv {
  grid-area: ikon;
  width: 50%;
}


/* Nav slutter her */



@media screen and (min-width: 900px) {
/* Nav bar table + wide */
  .burger {display: none}

.navbar {
  width: 100%;
  height: auto;
  position: sticky;
  background-color: rgb(255,255,255,1);
  display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;

}

#kurv{
  display: block;
  width: 3em;
}

ul.menu{
  position: relative;
    left: 0;
    top: 0;
    grid-area: nav;
    display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

    list-style: none;
    list-style-type: none;
  
  }
  
  .search {
    display: none;
  }
  
  a {
    text-decoration: none;
  }
  
  
  .menu li {
    color: var(--blaa);
    background: inherit;
    display: block;
    padding: 0.8em;
    position: relative;
    text-decoration: none;
  
  }
  
  
  .menu li a {
    margin-top: 0.5em;
    font-size: 30px;
    color: var(--blaa);
  }
  
  .menu li:hover {
    background: white;
    cursor: pointer;
  }
  
  .dropdown {
    background: white;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    left: 0;
    display: none;
  }
  
  .menuitem:hover > ul,
  .menuiten:focus-within > ul
  .dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  .menu li ul li {
    clear: both;
    width: 100%;
  }


  

} /* 800 width slutter her */
