:root {
    /* farver */
    --blaa: #080332;
    --graa: #f2f2f2;
    --hvid: #ffffff;
    --sort: #000000;
    --groen: #128F01;
    --transparent: 0.70;
    --margin: 1em;


  
    /* fonte */
  
  
  }
  .wrapper{
  
    margin: 0; /* Således går alt content het ud som standart, margin indstilles individuelt. */
    display: grid;
    background-color: var(--graa);
    grid-template-areas:
      "logo"
      "nav"
      "infobox"
      "infographic"
      "shop"
      "ekstra"
      "cardflex"
      "footer";     
}
a {
  text-decoration: none;
}

.top{ 
  display: flex;
  justify-content: center;
  grid-area: logo;
    margin-top: 0.5em;
    width: 100%;
}

#logoTop{
  width: 90vw;
}



/* Infomations box flex starter her */
.infobox{
  z-index: 5;
  grid-area: infobox;
    width: 100%;
    display: flex; /* der bruges flexbox her, da hver kasse skal have den samme størrelse og mellemrum. */
      justify-content: space-evenly;
    background-color: var(--blaa);
    color: white;
    margin-bottom: 1em;
}
/* følgende kode tager alle id med navnet box og efterfølgende nummer. */
[id^="box"] {
    margin: 0.2em;
    text-align: center;
}


.infographic{
  grid-area: infographic;
  position: relative;
  top:0;
  display: grid;
    grid-template-areas:
      "pic"
     "tekst";
     justify-items: center;
}

.infographicPic {
  z-index: 0;
  grid-area: pic;

}

.tablet-map {
  display: none;
  grid-area: pic;
}

#tablet{
  z-index: 0;
  width: 900px
}
.widescreen-map {
  display: none;
  grid-area: pic;
 

}

.infographicText {
  margin-top: -2em;
  grid-area: tekst;
  z-index: 3;
  width: 100%;
  min-height: 150px;
  height: auto;
  background-color: var(--blaa);
  color: var(--white);

}

#teasere {
  grid-area: cardflex;
  font-size: 1em;
  margin: 0.5em;
  color: white;
  text-align: center;
}



.vaerksted{
  grid-area: shop;
  display: flex;
    flex-direction: column;
    justify-content: center;
  width: calc(100% - 2px);
  border: 1px solid black;
  background-image: url('../img/foto/vaerksted500.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  height: 100px;
}

.vaerkstedTekst {
  height: 2em;
  display: flex;
    align-items: center;
    justify-content: center;
  z-index: 5;
  background: var(--blaa);
  color: white;
}
.info-box{
  Grid-area: cardflex;
  width: 100%;
    background-color: var(--blaa);
    color: white;
  }
.info-box-tekst{
  text-align: center;
  margin-top: -4em;
}

.info-box h3{
  margin-top: -1em;
}

.ekstra {
  overflow-x: scroll;
  grid-area: ekstra;
  text-align: center;
}

.overskrift {
  color: var(--blaa);
  margin-top: 1em;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  display: flex;
    justify-content: center;
}

.overskrift h2 {
  color: var(--blaa);
  margin-bottom: 0;
  margin-top: 0;
}

/* flex artiklen med produkter! */

.flexartikel {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
  overflow-x: scroll;
  padding-bottom: 1em;


  }

  .cardteasere {
    justify-content: center;
    align-content: center;
    text-align: center;
    border: 1px transparent;
    min-width: 500px;
    height: auto;
  
  }

  .teasereimg {
    grid-area: pic;
    max-width: 500px;
    height: auto;
  }
.dotsleft{
  top: 0;
  left: 0;
  margin: 0.5em;
  position: relative;
  display: flex;
    flex-direction: row;
    flex-wrap:wrap;
  width: 3em;
}

.dotsright{
  margin: 0.5em;
  position: relative;
  left: calc(100% - 4em);
  display: flex;
    flex-direction: row;
    flex-wrap:wrap;
  width: 3em;
}

.dot {
  margin: 0.2em;
  height: 0.7em;
  width: 0.6em;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

@media screen and (min-width: 500px){
  .vaerksted{
    background-image: url('../img/foto/produkt/vaerksted700.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    height: 150px;
  }

}

@media screen and (min-width: 700px) {
  .vaerksted{
    background-image: url('../img/foto/produkt/vaerksted900.jpg');}

}



 /* tablet */
@media screen and (min-width: 900px) {
 

  .mobilmap{
    display: none;
  }

  .tablet-map {
    display: block;
    grid-area: pic;
  }
 

  .infobox {
    font-size: 35px;
  }

  .infographicText{
    margin: 0;
    font-size: 30px;
    grid-area: tekst;

  }
 
  .vaerksted{
    margin-top: 2em;
    height: 200px;
   background-image:  url('../img/foto/produkt/vaerksted1200.jpg');;
  }

  
}

@media screen and (min-width: 1200px) {
.widescreen-map {
  display: grid;
  grid-template-areas:
    "pic"
   "tekst";
}

.tablet-map {
  display: none;
}
.widescreen-map {
  display: block}

}