:root {
    /* farver */
    --blaa: #080332;
    --graa: #f2f2f2;
    --hvid: #ffffff;
    --sort: #000000;
    --groen: #128F01;
    --transparent: 0.70;
    --margin: 1em;


  
    /* fonte */
  
  
  }
